@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000a3f), to(#001cb9));
  background: linear-gradient(to bottom, #000a3f 50%, #001cb9 100%);
  font-size: 20px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .container_btn-start,
.container .container_btn-clearTimeout,
.container .container_btn-newGame {
  position: absolute;
  top: 20%;
  left: 10%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #000a3f), to(#001cb9));
  background: linear-gradient(to bottom, #000a3f 5%, #001cb9 100%);
  border-radius: 38px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
}

.container .container_btn-start:hover,
.container .container_btn-clearTimeout:hover,
.container .container_btn-newGame:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #001cb9), to(#000a3f));
  background: linear-gradient(to bottom, #001cb9 5%, #000a3f 100%);
}

.container .container_btn-start:focus,
.container .container_btn-clearTimeout:focus,
.container .container_btn-newGame:focus {
  outline: 0;
}

.container .container_btn-clearTimeout {
  top: 30%;
}

.container .container_btn-newGame {
  top: 40%;
}

.container .container_money {
  width: 20%;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.container .container_timer {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 10%;
  right: 5%;
  text-align: center;
  font-size: 1000%;
  color: white;
}

.container .container_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 40%;
  font-size: 1.5rem;
  color: white;
  border: grey solid 2px;
  background-color: black;
  overflow: hidden;
}

.container .container_screen .container_screen_question {
  display: none;
  margin: 0 20px;
  text-align: center;
}

.container .container_screen .container_screen_question:active {
  display: block;
}

.container .container_screen .container_screen_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 30%;
}

.container .container_screen .container_screen_categories .container_screen_categories_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 500%;
  width: 30%;
  height: 100%;
  border: 2px white solid;
  border-radius: 50%;
  background-color: #5e5c5c;
  cursor: pointer;
  -webkit-transition: top 1s linear, left 1s linear, right 1s linear;
  transition: top 1s linear, left 1s linear, right 1s linear;
}

.container .container_screen .container_screen_categories .container_screen_categories_category:first-child {
  left: -100%;
}

.container .container_screen .container_screen_categories .container_screen_categories_category:first-child.animation {
  top: 0;
  left: 0;
}

.container .container_screen .container_screen_categories .container_screen_categories_category:last-child {
  right: -100%;
}

.container .container_screen .container_screen_categories .container_screen_categories_category:last-child.animation {
  top: 0;
  right: 0;
}

.container .container_screen .container_screen_categories .container_screen_categories_category:hover {
  color: #1a1313;
  background-color: #3f3e3e;
}

.container .container_answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 30%;
  background-color: rgba(26, 5, 146, 0.363);
  border: 10px solid white;
}

.container .container_answers .container_answers_playerChoose {
  width: 20%;
  height: 50%;
  font-size: 2rem;
  text-align: center;
}

.container .container_answers .container_answers_playerChoose .container_answers_playerChoose_answer {
  width: 100%;
  height: 70%;
  color: white;
  background-color: #0b0b61;
  border: 1px solid white;
  font-size: 30px;
}

.container .container_answers .container_answers_playerChoose .container_answers_playerChoose_answer + input {
  width: 100%;
  background-color: #3f3b3b;
  color: white;
  border: none;
  text-align: right;
  font-size: 1.5rem;
}

.container .container_answers .container_answers_playerChoose .container_answers_playerChoose_answer + input:focus {
  outline: none;
}

.container .container_answers .container_answers_playerChoose .container_answers_playerChoose_answer + input[type='number'] {
  -moz-appearance: textfield;
}

.container .container_answers .container_answers_playerChoose .container_answers_playerChoose_answer + input::-webkit-outer-spin-button, .container .container_answers .container_answers_playerChoose .container_answers_playerChoose_answer + input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/*# sourceMappingURL=style.css.map */